* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Css de Index*/

body {
    background-color: #e4ddd7;
}

.padreGridsIndex {
    display: grid;
    column-gap: 10rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, fr);
    grid-template-areas: " subTitulo subTitulo subTitulo subTitulo"
        "  imgMu  imgMu imgMuDos imgMuDos"
        " parrIn parrIn parrIn parrIn"
        " secDIn secDIn secDIn secDIn"
        " fonIclou fonIclou fonIclou fonIclou"
        " padreAcc padreAcc padreCli padreCli"
        " footer footer footer footer";
}

.subTitulo {
    grid-area: subTitulo;
}

.imagenMuestra {
    grid-area: imgMu;
}

.imagenMuestraDos {
    grid-area: imgMuDos;
}

.parrafoIndex {
    grid-area: parrIn;
}

.sectionDosIndex {
    grid-area: secDIn;
}

.fondoIcloud {
    grid-area: fonIclou;
}

.padreAccesibilidad {
    grid-area: padreAcc;
    padding: 2.5rem;
    height: 30rem;
}

.padreClima {
    grid-area: padreCli;
    padding: 2.5rem;
}

footer {
    grid-area: footer;
}

/*Fin d grids*/

.header {
    background-color: #918b8b;
    padding: 0.6rem;
}

.header nav ul {
    display: flex;
    justify-content: space-around;
}

.hijos {
    margin: 0.6rem;
    list-style: none;
}

.header nav ul li a:hover {
    color: white;
    font-weight: 1.8rem;

}

.hijos a {
    color: black;
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.imagenUno {
    background-image: url("../img/elfuturo.jfif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 31.2rem;
}

.imagenUno h2 {
    color: white;
    text-align: center;
    padding: 15.6rem;
    font-size: 5rem;
    font-family: 'Square Peg', cursive;
}

main h1 {
    text-align: center;
    font-family: 'PT Serif', serif;
    color: #777474;
    font-size: 3.1rem;
}

.subTitulo {
    margin: 1.8rem;
    font-family: 'Sriracha', cursive;
    text-align: center;
    color: #777474;
    font-size: 1.8rem;
}

.muyPronto {
    background-color: #8f8787;
    margin: 0.6rem;
    padding: 0.6rem;
    width: 20rem;

}

.imagenMuestra {
    background-image: linear-gradient(black, #c7c0c0);
    width: 21.8rem;
    height: 12.5rem;
    border-radius: 0.5rem;
    margin: 1.8rem 0.6rem 3.12rem 30%;
}

.imagenMuestra:hover{
    animation-name: girar;
    animation-duration: 2s;
    animation-timing-function: linear;
    background-image: linear-gradient(to bottom,#c7c0c0,black);
}

@keyframes girar{
    from{
        transform: rotate(-10deg);
    }
    to{
        transform: rotate(10deg);
    }
}

.imagenMuestra img {
    padding: 0.9rem 0.6rem 0.6rem 1.5rem;
}

.imagenMuestraDos {
    background-image: linear-gradient(black, #c7c0c0);
    padding: 0 0 0 1.5rem;
    width: 21.8rem;
    height: 12.5rem;
    border-radius: 0.5rem;
    margin: 1.9rem 0 3.12rem  1%;
}

.imagenMuestraDos:hover{
    animation-name: girar;
    animation-duration: 2s;
    animation-timing-function: linear;
    background-image: linear-gradient(to bottom,#c7c0c0,black);
}

.imagenMuestraDos img {
    padding: 0.9rem 0.6rem 0.6rem 0.1rem;
}

.parrafoIndex p {
    font-size: 1.5rem;
    margin: 0 1.25rem 0 1.25rem;
    font-family: 'PT Sans', sans-serif;
}

.reservar {
    text-align: center;
    margin: 0.9rem 0 0 0;
}

.reservar:hover{
    transform: scale(2,2);
}

.colorSecundario {
    background-color: white;
}

.subTituloDos {
    margin: 5rem 0 0 0;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Inter', sans-serif;
    color: #777474;
}

.parrafoIndexDos {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'PT Sans', sans-serif;
}

.parrafoIndexTres {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'PT Sans', sans-serif;
}

.parrafoIndexCuatro {
    margin: 2rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'PT Sans', sans-serif;
}

.subTituloTres {
    margin: 0 0 0 2rem;
    font-size: 2.5rem;
    color: #a7267c;
}

.parrafoIndexCinco {
    margin: 0.5rem 0 4.3rem 0.6rem;
    width: 56.2rem;
    font-size: 1.5rem;
    font-family: 'PT Sans', sans-serif;
    color: white;
}

.imagenAccesibilidad img {
    width: 5rem;
}

.imagenClima img {
    width: 5rem;
}

.parrafoAcc p {
    font-size: 1.5rem;
    font-family: 'PT Sans', sans-serif;
}

.parrafoClima p {
    font-size: 1.5rem;
    font-family: 'PT Sans', sans-serif;
}

footer {
    margin: 6.2rem 0 0 0;
    text-align: center;
 
    
}

.fondoIcloud {
    background-color: rgb(41, 39, 39);
    height: 12.5rem;
    margin: 0 0 5rem 0;
}

.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fixed img {
    width: 3.1rem;
}  

@media screen and (max-width:1024px) {
 
    .padreGridsIndex {
        display: grid;
        column-gap: 10rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, fr);
        grid-template-areas: " subTitulo subTitulo subTitulo subTitulo"
                             "  imgMu  imgMu imgMu  imgMu "
                             "imgMuDos imgMuDos imgMuDos imgMuDos"
                             " parrIn parrIn parrIn parrIn"
                             " secDIn secDIn secDIn secDIn"
                             " fonIclou fonIclou fonIclou fonIclou"
                             " padreAcc padreAcc padreAcc padreAcc"
                             "padreCli padreCli padreCli padreCli"
                             " footer footer footer footer";
    }
    .imagenMuestra{
        margin: 0 0 10% 30%;
    }
    .imagenMuestraDos{
        margin: 0 0 10% 30%;
    }
}

/*Css de Iphone*/
.my-3{
  padding: 4rem 0 0 0;
}

/*Ipad*/

.mainIpad h1 {
    text-align: center;
    font-family: 'PT Serif', serif;
    margin: 20px 0px 40px 0px;
    color: #777474;
    font-size: 50px;
}
.mainIpad img{
    width: 100%;
    height: 25rem;
    background-position: center;
    margin: 1rem 0 2rem 0;
}


.imagenDosIpad {
    background-color: rgb(41, 39, 39);
    width: 400px;
    margin: 30px;
    border-radius: 20px;
}

.imagenDosIpad img {
    padding: 20px;
    width: 400px;
}



.imagenesIpad {
    margin: 30px 0 90px 650px;
}

.imagenesIpad img {
    width: 100%;
}
.mx-3 img{
    width: 70%;
}
/*AirdPods*/

.mainAirdPods h1 {
    text-align: center;
    font-family: 'PT Serif', serif;
    margin: 20px 0px 40px 0px;
    color: #866cce;
    font-size: 50px;
}

.sectionAird {
    margin: 70px 0 0 0;
}

.sectionAird h2 {
    font-family: 'Sriracha', cursive;
    text-align: center;
    color: #777474;
    font-size: 30px;
}

.sectionAird p {
    background-color: #866cce;
    height: 100px;
    font-size: 25px;
    padding: 15px 0 10px 10px;
    font-family: 'PT Sans', sans-serif;
}

.airdUsos {
    margin: 90px 0 0 0;
}

.airdUsos h3 {
    margin: 0 0 30px 900px;
    color: #866cce;
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
}

.airdUsos p {
    font-size: 25px;
    font-family: 'PT Sans', sans-serif;
    width: 500px;
    margin: 0 0 0 800px;
}

.airdImagenUso img {
    width: 500px;
}

/*Contacto*/

.mainContacto {
    margin: 40px 0 20px 20px;
}

.sectionContacto {
    margin: 0 0 20px 20px;
}

.sectionContacto ul li {
    list-style: none;
}

.formContacto {
    margin: 0 0 0 20px;
    width: 300px;
}

.formContacto fieldset {
    padding: 10px 0 10px 50px;
}

.sectionContacto div {
    font-size: 20px;
    font-weight: 200px;
    margin: 0 0 5px 0;
}